#cover1 {
	background: url(../assets/covers/leadership2.jpg);
	background-size: cover;
	height: 400px;
	width: auto;
	margin-top: 60px;
}

#cover1 h1 {
	padding-top: 125px;
	color: white;
	font-family: 'Garamond', cursive;
	font-size: 85px;

}

#cover1 h2 {
	color: white;
	font-size: 30px;
	text-shadow: 2px 2px black;
} 

#leadership p {
	text-align: justify;
	font-size: 20px;
	line-height: 28px;
	text-indent: 40px;
	margin-right: 100px ;
	margin-left: 100px ;
}


h1 {
	text-align: center; 
	font-size: 80px;
	font-family: 'Garamond', cursive;
	font-weight: 100;
	color: #F5F5F5;
	text-shadow: 2px 2px black;
	padding-top: 225px;
}

h2 {
	text-align: center; 
	font-size: 30px; 
	font-weight: 300;
	font-family:'Raleway', sans-serif;
	color: #F5F5F5;
	text-shadow: 2px 2px white;
}


#rush-info-1 {
	width: 80%;
	margin: 0 auto;
	margin-top: 120px;
	margin-bottom: 40px;
}

#rush-info-1 p {
	text-indent: 40px;
	padding-right: 40px;
}

#rush-info-2 {
	width: 80%;
	margin: 0 auto;
	margin-top: 90px;
	margin-bottom: 90px;
}

#rush-info-2 p {
	text-indent: 40px;
	padding-left: 40px;
}

.footer {
	background-color: #00477F;
	width: 100%;
	margin: 0 auto;
	height: 75px;
}

.footer p {
	text-align: left;
	padding-left: 25px;
	color: #FFB81C; 
	line-height: 1px;
	size: 10px;
	font-family: 'Raleway', sans-serif;
	font-weight: 100px;
	text-shadow: 1px 1px black;
	padding-top: 10px;
}

#left {
	float: left;
}

#right {
	float: right;
	padding-right: 65px;
}

.fa-stack {
    border-radius: 100%;
    border: 2px solid #FFB81C;
    height: 36px;
    width: 36px;
    margin: 4px;
	margin-top: 20px;
}

.fa-facebook {
    color: #FFB81C;
    font-size: 18px;
	margin-top: -1px;
	padding-right: 2px;
}

.fa-instagram {
    color: #FFB81C;
    font-size: 18px;
	margin-top: -1px;
}

.fa-youtube {
    color: #FFB81C;
    font-size: 18px;
	margin-top: -1px;
}