
#splash {
	background: url(../../assets/covers/about.png);
	background-size: cover;
	height: 625px;
	width: auto;
	margin-top: 60px;
}

#splash h1 {
	text-align: center;
	font-size: 90px;
	font-family: 'Garamond', cursive;
	font-weight: 100;
	color: #F5F5F5;
	text-shadow: 2px 2px black;
	padding-top: 200px;
}

#splash  h2 {
	text-align: center;
	font-size: 30px;
	font-weight: 300;
	font-family:'Lato', sans-serif;
	text-transform: lowercase;
	color: #F5F5F5;
	text-shadow: 2px 2px black;
}

#info {
	margin-top: 50px;
	margin-bottom: 50px;
	height: 500px;
}

#info h3 {
	font-size: 42px;
	font-family: 'Lato', sans-serif;
	text-align: center;
	padding-bottom: 5px;
}

#info p {
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	text-align: justify;
	font-weight: 300;
}

#graphic {
	width: 100%;
	height: 500px;
	background-color: #3855A2;
	border-style: none;
}

#graphic img {
	width: 85%;
	margin: 0 auto;
	margin-top: 20px;
}

.text-container {
	float:left;
	width: 70%;
}

.lfs {
	background-color: #FFF;
	height: 575px;
}

.lfs h1 {
	padding-top: 20px;
}

.lfs img {
	margin-top: 35px;
}

#line-separator {
	border: 1px solid rgba(0, 0, 0, 0.1);
	width: 80%;
	margin: 0 auto;
	margin-top: 50px;
}

.navigation {
	text-align: center;
	box-shadow: 10px #888888;
	margin-bottom: -10px;
}

.navigation li {
	display: inline;
	text-align: center;
	font-size: 15px;
	padding: 13px;
	text-transform: uppercase;
	font-family:'Lato', sans-serif;
}

.nav {
	display: block;
    list-style-type: disc;
    -webkit-margin-start: 0px;
	-webkit-padding-start: 0px;
}

.row {
	width: 90%;
	margin: auto;
	margin-top: 75px;
}

#message {
	height: auto;
	width: 100%;
	margin: 0 auto;
	margin-top: -50px;
}

#message h1{
	margin-top: -20px;
}

#message p {
	font-size: 16px;
	text-align: justify;
	padding: 0 10 0 25;
	margin-top: -15px;

}

.footer {
	background-color: #00477F;
	width: 100%;
	margin: 0 auto;
	height: 80px;
}

.footer p {
	text-align: left;
	padding-left: 25px;
	color: #FFB81C;
	line-height: 1px;
	size: 10px;
	font-family: 'Lato', sans-serif;
	font-weight: 100px;
	text-shadow: 1px 1px black;
	padding-top: 9px;

}

#left {
	float: left;
}

#right {
	float: right;
	padding-right: 65px;
}

.fa-stack {
    border-radius: 100%;
    border: 2px solid #FFB81C;
    height: 36px;
    width: 36px;
    margin: 4px;
	margin-top: 20px;
}

.fa-facebook {
    color: #FFB81C;
    font-size: 18px;
	line-height: 32px;
	padding-right: .5px;
}

.fa-instagram {
    color: #FFB81C;
    font-size: 18px;
	line-height: 32px;
}

.fa-youtube {
    color: #FFB81C;
    font-size: 18px;
	line-height: 32px;
}

.countdown {
	font-size: 30px;
	    display: inline-block;
	    float: left;
	    margin-left: 50px;
	    position: relative;
	    margin-top: 21px;
}
.swag {
	width: 80%;
	margin: 0 auto;
}
